* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:beige;
}

body {
    background-color: #000;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-size: 24px;
}

.container{
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

h1{
    text-align: left;
    margin: 20px 0;
    font-size: 60px;
    text-align: justify;
}
h2{
    font-size:40px;
}
h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    margin: 20px 0;
}
a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    opacity: 50%;
}
.navbar{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    
}
.logo-div svg{
    width: 100px;
    height: 100px;
    opacity: 50%;
    
}
.logo-div svg:hover{
    opacity: 100%;
}

a:hover{
    opacity: 100%;
}
#scalability{
    font-size: 16px;
    opacity: 50%;
    color:rgb(255, 255, 255);
    background-color: rgba(245, 245, 220, 0.608);
    padding: 10px 15px;
    border-radius: 20px;
}
#time{
    font-size: 16px;
    opacity: 50%;
    color:rgb(255, 255, 255);
    border-radius: 20px;
}

footer{
    text-align: center;
    margin: 50px 0;
    opacity: 50%;
}
ul{
    margin-left: 40px
}
