* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:beige;
}

body {
    background-color: #000;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-size: 24px;
}

.container{
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

h1{
    text-align: left;
    margin: 20px 0;
    font-size: 60px;
    text-align: justify;
}
h2{
    font-size:40px;
}
h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    margin: 20px 0;
}
a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    opacity: 50%;
}
.navbar{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    
}
.logo-div svg{
    width: 100px;
    height: 100px;
    opacity: 50%;
    
}
.logo-div svg:hover{
    opacity: 100%;
}

a:hover{
    opacity: 100%;
}
#scalability{
    font-size: 16px;
    opacity: 50%;
    color:rgb(255, 255, 255);
    background-color: rgba(245, 245, 220, 0.608);
    padding: 10px 15px;
    border-radius: 20px;
}
#time{
    font-size: 16px;
    opacity: 50%;
    color:rgb(255, 255, 255);
    border-radius: 20px;
}

footer{
    text-align: center;
    margin: 50px 0;
    opacity: 50%;
}
ul{
    margin-left: 40px
}
table{
    margin: 20px 0;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid aliceblue;
    padding: 50px;
    font-size: 20px;

}
li{
    margin: 10px 0;
}
thead{
    border: 2px solid aliceblue;
    padding: 50px;
    font-size: 20px;

}
thead th{
    border: 2px solid aliceblue;
    padding: 20px;
    font-size: 30px;
}

tbody td{
    border: 2px solid aliceblue;
    padding: 20px;
    font-size: 20px;
}
button{
    padding: 2px;
    color: aliceblue;
    background-color: red;
    font-size: 20px;
    cursor: pointer;
}
#add{
    margin-top: 10px;
    color:aliceblue;
    background-color: green;
}
input{
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
input[type="text"]{
    color: rgba(0, 0, 0, 0.715);  
}
input[type="date"]{
    color: rgba(0, 0, 0, 0.482);  
}