*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: aliceblue;
}
.container{
    width: 70vw;
    margin: 10px auto;
}
.navbar{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
.dark-mode{
    background-color: aliceblue;
    color: black;
}
.time-dark-mode{
    border: 2px solid aliceblue;
    color: aliceblue;
}
.time-light-mode{
    border: 2px solid black;
    color: black;
}
.time-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    
    padding: 50px;
    font-size: 30px;
    margin-right: 30px;
}

p {
    font-size: medium;
    /* text-align: center; */
}
